# Siddhant Singhai(211028)

In [1]:
import pandas as pd
df= pd.read_csv('GreenCities-Data.csv')
df

ModuleNotFoundError: No module named 'pandas'

# We choose the 3 P's for Overall ranking of city
People:-
(Social Health of city) Rates health, education, income inequality, work-life balance, ratio of wage earners to dependents)

Planet:-
sort
(Environmental health of city) Energy consumption and renewable energy share, waste management, green space, sanitation, water index)

Profit:-
(Economic Health of City) Transport infrastructure, ease of doing business, tourism, GDP per capita, the cityâ€™s importance in world economy)

In [ ]:
modified_df=df[['People','Planet','Profit','Overall']]
modified_df.head()

   People  Planet  Profit  Overall
0      27       1       5        1
1      48      12       1        2
2      14       2      10        3
3       4       4      14        4
4      37       9       3        5

Shuffle the data ,so to divide it in train ,val ,test groups

In [ ]:
shuffled_df = modified_df.sample(frac=1)

shuffled_df.head()

    People  Planet  Profit  Overall
68      72      65      65       69
78      97      30      84       79
91      86      75      93       92
93      62      99      89       94
9        8      24      11       10

We give 60 rows to train the model
20 rows for each test and valiate the model

In [ ]:
train_df = shuffled_df[:60]
val_df = shuffled_df[60:80]
test_df = shuffled_df[80:]

In [ ]:
X_train, y_train = train_df.to_numpy()[:, :-1], train_df.to_numpy()[:, -1]
X_val, y_val = val_df.to_numpy()[:, :-1], val_df.to_numpy()[:, -1]
X_test, y_test = test_df.to_numpy()[:, :-1], test_df.to_numpy()[:, -1]

(X_train.shape, y_train.shape), (X_val.shape, y_val.shape), (X_test.shape, y_test.shape)

(((60, 3), (60,)), ((20, 3), (20,)), ((20, 3), (20,)))

Check any hypothetical country's overall rank via these 3 p's

In [ ]:
from sklearn.tree import DecisionTreeClassifier


model =DecisionTreeClassifier()

model.fit(X_train,y_train)
People,Planet,Profit=map(int,input("Enter 3 values:").split())

prediction = model.predict([[People,Planet,Profit]])
prediction

Enter 3 values:3 4 3

array([8])

Check its accuracy

In [ ]:
from sklearn.metrics import accuracy_score
prediction = model.predict(X_train)
accuracy=accuracy_score(y_train,prediction)
accuracy

1.0

Creating a base line model

In [ ]:
from sklearn.metrics import mean_absolute_error

average_speed = y_train.mean()

mean_absolute_error(y_val, [average_speed]*len(y_val))

19.3

Making a linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression
linear_model = LinearRegression().fit(X_train, y_train)
float(mean_absolute_error(y_val, linear_model.predict(X_val)))

3.137576860869054

Making a Random Forest Model

In [ ]:
from sklearn.ensemble import RandomForestRegressor

random_forest = RandomForestRegressor().fit(X_train, y_train)

mean_absolute_error(y_val, random_forest.predict(X_val))

4.480000000000001

We can clearly see Linear Regreesion model is more accurate than Random Forest model